.lastStyle {
  position: relative;
  bottom: 50px;
  @media (max-width: 1000px) {
    width: 200;
  }
  @media (max-width: 500px) {
    width: 100;
  }
}
.firstStyle {
  position: relative;
  bottom: 20px;
  @media (max-width: 1000px) {
    width: 200;
  }
  @media (max-width: 500px) {
    width: 100;
  }
}

.secondStyle {
  position: relative;
  bottom: 35px;
  @media (max-width: 1000px) {
    width: 200;
  }
  @media (max-width: 500px) {
    width: 100;
  }
}
