.simpleGridStyle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media (max-width: 1800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (max-width: 1500px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.cursorStyle {
  cursor: pointer;
}

.linkStyle {
  text-decoration: none;
}
